.success-image {
 display: block;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 background: url(https://drive.google.com/file/d/11zj-qUkZFhfFGc24J-fI-btMwcNEmVlO/view?usp=sharing)
 no-repeat;
 width: 180px;
 height: 236px;
 padding-left: 180px;
}
